@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

html {
  @media screen and (max-width: 800px) {
    padding: 0;
  }
}

:root {
  padding: 0px 50px;
  font-family: "Open Sans", sans-serif;
  margin-top: 5vh;
  margin-top: 17vh;

  @media screen and (max-width: 800px) {
    margin-top: 18vh;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 14vh;
  z-index: 100;
  background-color: white;
  @media screen and (max-width: 500px) {
    height: 18vh;
  }

  .hamburger-menu {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      position: absolute;
      right: 30px;
      top: 30px;

      .hamburger-line {
        display: block;
        background-color: black;
        width: 35px;
        height: 5px;
        margin: 6px 0px;

        &.top-line {
          transition: transform 0.3s ease, top 0.3s ease;
        }

        &.middle-line {
          transition: opacity 0.3s ease;
        }

        &.bottom-line {
          transition: transform 0.3s ease, bottom 0.3s ease;
        }
      }

      &.close-icon {
        .hamburger-line.top-line {
          transform: translate(0, 11px) rotate(-45deg);
        }

        .hamburger-line.middle-line {
          opacity: 0;
        }

        .hamburger-line.bottom-line {
          bottom: 10px;
          transform: translate(0, -11px) rotate(45deg);
        }
      }
    }
  }

  .overlay {
    /* other overlay styles */
    transition: all 0.15s ease-in-out;

    &.visible {
      /* styles for visible overlay */
      opacity: 1;
      visibility: visible;
      background-color: black;
      width: 100%;
      height: 100%;
      z-index: 101;
      overflow-y: hidden;

      @media screen and (min-width: 800px) {
        background-color: transparent;
      }
    }

    &.hidden {
      /* styles for hidden overlay */
      opacity: 0;
      visibility: hidden;
      @media (min-width: 800px) {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .logo {
      font-size: 55px;
      font-family: "Bruno Ace SC", cursive;
      margin: 0;
      color: black;
      text-decoration: none;
    }

    p {
      font-size: 15px;
    }

    nav {
      padding: 20px;
      align-items: center;
    }
  }

  &_items {
    display: flex;
    gap: 30px;
    font-size: 20px;
    list-style: none;
    margin-right: 40px;
    align-items: center;

    @media screen and (max-width: 800px) {
      position: absolute;
      top: 14vh;
      left: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin-top: 0;
    }

    @media screen and (max-width: 500px) {
      top: 17vh;
    }

    .header_link {
      margin-top: 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      border: 1px solid black;
      background-color: black;
      border-radius: 5px;
      padding: 10px 40px;
      transition: all 0.35s;
      text-align: center;
      margin: 0;

      @media screen and (max-width: 800px) {
        background-color: rgb(63, 63, 63);
        margin-top: 40px;
        width: 55%;
      }

      &:hover {
        color: black;
        background-color: white;
      }

      &.create {
        background-color: rgb(50, 118, 58);
        transition: all 0.35s;
        border: 1px solid green;

        &:hover {
          color: green;
          background-color: white;
        }
      }
    }

    .avatar {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    margin-top: 0vh;
  }

  @media screen and (max-width: 800px) {
    margin-top: 0vh;
  }
}
.blog-error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 50%;
  bottom: 10px;
  font-size: 20px;
  padding: 5px 0px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(253, 0, 0, 0.34);
  color: black;

  @media screen and (max-width: 500px) {
    bottom: 0px;
    width: 100%;
  }

  svg {
    margin: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input,
  textarea,
  label {
    font-size: 20px;
    padding: 10px 20px;
    width: 50vw;

    @media screen and (max-width: 500px) {
      width: 80vw;
    }
  }

  select {
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
  }

  textarea {
    resize: vertical;
    max-height: 25vh;
  }

  button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
      color: black;
      background-color: white;
      border: 1px solid black;
    }
  }
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 757px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .no-post-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .blog-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 80%;
    transition: all 0.35s;
    background-color: rgb(238, 238, 238);

    @media screen and (max-width: 757px) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 330px;
    }

    &:hover {
      opacity: 0.9;
      background-color: rgb(223, 223, 223);
    }

    h2 {
      margin: 0;
      margin-top: 20px;
      word-wrap: break-word;
      color: rgb(79, 135, 142);
      text-align: center;
    }

    p {
      padding: 10px 20px;
      margin: 0;
    }

    .blog-snippet {
      font-size: 18px;
      color: black;
      font-weight: 500;
    }

    .blog-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 20px;
    }

    .blog-body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      overflow: hidden;
    }

    .blog-image {
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: top;
      border-radius: 5px;
    }
  }
}

.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 800px) {
    margin-top: 0;
  }

  .image {
    max-width: 520px;
    max-height: 400px;
    align-items: start;
    object-fit: contain;
  }

  h2 {
    color: rgb(79, 135, 142);
    margin-bottom: 5px;
  }

  .blog-theme {
    margin: 0;
  }

  .blog-body {
    font-size: 22px;
    padding: 0px 50px;
    text-align: left;
    padding-bottom: 100px;

    @media screen and (max-width: 800px) {
      padding: 0px 20px;
    }
  }
}

.comments-container {
  .comments {
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
    }

    .comments-list {
      display: flex;
      align-items: center;
    }

    .comment-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
    }
  }
}
.avatar {
  cursor: pointer;
}
